html {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, -webkit-system-font, "Helvetica Neue", "Lucida Grande", Helvetica, Arial;
  font-size: 16px;
	line-height: 160%;
  margin: 0;
  padding: 2rem;
}

h1 {
	margin: 16px 0;
	font-size: 26px;
	color: #000;
}

h2 {
	margin: 64px 0 16px;
	font-size: 22px;
}

h3 {
	font-size: 16px;
}

a:link, a:visited {
	color: #00e;
	text-decoration: none;
}

a:hover, a:active {
	color: #00c;
	text-decoration: none;
}
