html {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  font-family: -apple-system, -webkit-system-font, "Helvetica Neue", "Lucida Grande", Helvetica, Arial;
	line-height: 160%;
  margin: 0;
  padding: 2rem;
}

h1 {
	margin: 2rem 0;
	font-size: 2rem;
	color: #000;
}

h2 {
	margin: 2rem 0 1rem;
	font-size: 1.33rem;
}

h3 {
	font-size: 1rem;
}

a:link, a:visited {
	color: #00e;
	text-decoration: none;
}

a:hover, a:active {
	color: #00c;
	text-decoration: none;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}

#app {
  max-width: 800px;
}

header {
  text-align: center;
}

header img {
  width: 200px;
}

header nav ul {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
header nav ul li + li {
  margin-left: 1rem;
}
